@font-face {
    font-family:'receba';
    src: url('BebasKai.otf');
}
@font-face {
    font-family:'android';
    src: url('idroid.otf');
}
body{
    background-color: rgba(127, 255, 191, 0.829);
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-color: white;
    margin: auto;
    padding: 20px;
   /*width: 900px;*/ 
    max-width: 900px;
    border-radius: 0px 0px 10px 10px;
    
    
    
}
div#inicial{
    text-align: center;
    padding: 30px 0px 20px 0px;
    color: white;
    font-family: c;
    font-size: 3em;
    letter-spacing: -2px ;
    font-family: 'receba';
    
}
div#inicial2{
    padding: 20px 0px 20px 0px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    
    
}
nav{
    margin-bottom: 8px;
}
header{
    background-image: linear-gradient(rgb(94, 233, 128),rgba(0, 0, 0, 0.678));
    margin: -8px;
    }
    a{
        color: rgb(0, 131, 0);
        text-decoration: none;
        font-size:larger ;
        
    }
    a:hover{
        text-decoration: underline;
    }
   nav> a{
        text-decoration: none;
        color: white;
        font-size: large;
        padding: 10px;
        border-radius: 10px;
        
    }
    nav>a:hover{
        text-decoration: underline;
        color: lightblue;
        background-color: rgba(16, 97, 16, 0.644);
        margin: 1px;
    }
    h1{
        font-family: 'android';
        font-size: 1.7em;
        color: rgba(0, 128, 0, 0.836);
        margin: auto;
    }
    h2{
        font-family: 'android';
        background-image: linear-gradient(to left ,rgba(255, 255, 255, 0),rgba(118, 177, 136, 0.432),rgba(8, 97, 0, 0.432));
        color: rgba(2, 133, 2, 0.623);
        

    }
    h3{
        background-color: rgb(115, 228, 115);
        color: white;
        padding: 10px 20px 10px 20px;
        border-radius: 10px 10px 0px 0px;
    }

    p{
        text-indent: 30px;
        
        
        
    }
   picture{
        display: flex;
    justify-content: center;
    }
    picture#video{
        background-color: rgba(16, 82, 16, 0.767);
        padding: 15px 0px 15px 0px;
    }
    #listas{
        display: flex;
        justify-content: space-between; /* Separa as duas colunas à esquerda e à direita */
        
    }
  .list{
    padding: 20px;
    background-color: rgba(136, 201, 136, 0.74);
    margin-top: -19px;
  }
  .list1{
    padding: 15px;
    background-color: rgba(136, 201, 136, 0.74);
    margin-top: 0px;
  }
  .list2{
    padding: 0px 15px 15px 15px;
    background-color: rgba(136, 201, 136, 0.74);
    margin-top: -16px;
    border-radius: 0px 0px 10px 10px;
  }
  #lista1{
 width: 467px;
    background-color: rgba(136, 201, 136, 0.74);
    margin-top: -16px;
    list-style: none;
  }
  #lista2{
    width: 433px;
    background-color: rgba(136, 201, 136, 0.74);
    list-style: none;
    margin-top: -16px;
  }
li{
    text-indent: 30px;
}
footer{
    text-align: center;
    background-color:rgb(0, 58, 0) ;
    padding: 5px;
    margin: 20px -8px -8px -8px;
    color: white;
   

}