@font-face {
    font-family:'receba';
    src: url('BebasKai.otf');
}
@font-face {
    font-family:'android';
    src: url('idroid.otf');
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgba(127, 255, 191, 0.829);
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-color: white;
    margin: auto;
    padding: 20px;
   /*width: 900px;*/ 
    max-width: 900px;
    border-radius: 0px 0px 10px 10px;
    
    
    
}
div#inicial{
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 3em;
    letter-spacing: -2px ;
    font-family: 'receba';
    
}
div#inicial2{
    padding: 5px 0px 20px 0px;
    text-align: center;
    color: white;
    margin: 10px auto 0px auto;
    width: 50%;
    
    
}
nav{
    padding: 10px;
}
header{
    background-image: linear-gradient(rgb(94, 233, 128),rgba(0, 0, 0, 0.678));
    
    }
    a{
        color: rgb(0, 131, 0);
        text-decoration: none;
        font-size:larger ;
        
    }
    a:hover{
        text-decoration: underline;
    }
   nav> a{
        text-decoration: none;
        color: white;
        font-size: large;
        padding: 5px;
        border-radius: 10px;

        
    }
    nav>a:hover{
        text-decoration: underline;
        color: lightblue;
        background-color: rgba(16, 97, 16, 0.644);
        margin: 1px;
        padding: 5px;
        
    }
    p{
        margin: 10px;
    }
    h1{
        font-family: 'android';
        font-size: 1.7em;
        color: rgba(0, 128, 0, 0.836);
        margin: auto;
        
    }
    h2{
        font-family: 'android';
        background-image: linear-gradient(to left ,rgba(255, 255, 255, 0),rgba(118, 177, 136, 0.432),rgba(8, 97, 0, 0.432));
        color: rgba(2, 133, 2, 0.623);
        

    }
    h3{
        background-color: rgb(115, 228, 115);
        color: white;
        padding: 10px 20px 10px 20px;
        border-radius: 10px 10px 0px 0px;
        margin-top: -320px;
    }
    img{
        width: 60%;
        margin: 10px;
    }
    #droid{
    width: 50%;
        
    }

   picture{
        display: flex;
    justify-content: center;
    }
    picture#video{
        background-color: rgba(16, 82, 16, 0.767);
        margin: 0px -20px 330px -20px;
        position: relative;
        padding-bottom: 50%;
        
    }
    #video>iframe{
top: 5%;
width: 79.5%;
height:90% ;
position: absolute;
    }
    #list{
        text-indent: 30px;
        background-color: rgba(136, 201, 136, 0.74);
        padding: 5px;
        margin-bottom: 10px;

    }
    #listas{
        columns: 2;
        list-style: none;
        padding: 5px;
        

    }

footer{
    text-align: center;
    background-color:rgb(0, 58, 0) ;
    padding: 5px;
margin-top: 20px;
    color: white;
   

}